body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  #doanvan1 {
    font-weight: bold;
    text-align: center;

  }
  #doanvan2 {
    font-style: italic;
    color: lightgrey;
  }
    
